<%- include("partials/header") %>

<% content.forEach(function(contents){ %>
    <div>
        <h1><a href="/contents/<%= contents._id %>"><%= contents.title %></a></h1>
        <img src="<%= contents.image %>" alt="image">
        <article><%= contents.description %></article>
        <a href="/contents/<%= contents._id %>">More</a>
    </div>
<% }) %>
<%- include("partials/footer") %>