<%- include("../partials/header") %>
    <h1><%= content.title %></h1>
    <img src="<%= content.image %>" alt="This is image">
    <p><%= content.description %></p>
    <p><em>Submitted by <%= content.author.username %></em></p>
    <% if(currentUser && content.author.id.equals(currentUser._id)){ %>
    <a href="/contents/<%= content._id %>/edit">Edit</a>
    <form action="/contents/<%= content._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <% } %>
    <div>
        <a href="/contents/<%= content._id %>/comments/new">Add comment</a>
        <div>
            <% content.comments.forEach(function(data) { %>
                <p><%= data.author.username %> - <%= data.text %></p>
                <% if(currentUser && data.author.id.equals(currentUser._id)){ %>
                <a href="/contents/<%= content._id %>/comments/<%= data._id %>/edit">Edit</a>
                <form action="/contents/<%= content._id %>/comments/<%= data._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
                <% } %>
            <% }) %>
        </div>
    </div>
<%- include("../partials/footer") %>